html {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
span {
    font-size: xx-large;
    vertical-align: middle;
    line-height: 2;
}
img {
    object-fit: contain;
}
#gameCanvas {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 70%;
    z-index: 1;
}
#stream {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    margin: 0px;
}
#videoElement {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
}
#game {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    display: none;
}
#hud {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
#player1 {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    order: 1;
}
#velocity1 {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50%;
}
#velocity2 {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50%;
}
#distance1 {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50%;
}
#distance2 {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 50%;
}
#display2 {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
}
#webcam {
    padding: 0%;
    margin: 0%;
    width: 20%;
    height: 100%;
    order: 2;
    position: relative;
}
#player2 {
    padding: 0%;
    margin: 0%;
    width: 40%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    order: 3;
}
.vl {
    position: absolute;
    z-index: 2;
    border-left: 6px solid black;
    height: 70%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 20%;
}
#head-calibration {
    padding: 0%;
    margin: 0%;
    width: 98%;
    height: 98%;
}
#instruction-bar {
    padding: 1%;
    margin: 0%;
    width: 98%;
    height: 28%;
    display: flex;
    flex-direction: row;
}
#cam-screen {
    padding: 1%;
    margin: 0%;
    width: 98%;
    height: 66%;
    display: flex;
    flex-direction: row;
}
#instructions {
    padding: 1%;
    margin: 0%;
    width: 58%;
    height: 98%;
    order: 1;
}
#clue {
    padding: 1%;
    margin: 0%;
    width: 18%;
    height: 98%;
    order: 2;
}
#webby {
    padding: 1%;
    margin: 0%;
    width: 18%;
    height: 98%;
    object-fit: fill;
    order: 3;
    visibility: hidden;
}
#left {
    padding: 0%;
    margin: 0%;
    width: 49%;
    height: 100%;
    object-fit: fill;
    order: 1;
}
#divider {
    padding: 0%;
    margin: 0%;
    width: 4%;
    height: 100%;
    order: 2;
    background-color: black;
}
#right {
    padding: 0%;
    margin: 0%;
    width: 49%;
    height: 100%;
    object-fit: fill;
    order: 3;
}
#ctrl {
    top: 20%;
    left: 0%;
    width: 20%;
    height: 20%;
    position: absolute;
}
#bottom {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}
#up {
    padding: 0%;
    margin: 0%;
    width: 12.5%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    order: 1;
}
#lefty {
    padding: 0%;
    margin: 0%;
    width: 12.5%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    order: 2;
}
#down {
    padding: 0%;
    margin: 0%;
    width: 12.5%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    order: 3;
}
#righty {
    padding: 0%;
    margin: 0%;
    width: 12.5%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    order: 4;
}